header{
	width: 100vw                  !important                              ;
	min-height: 100vh                  !important                              ;
	background: #34495e                !important                                ;
	font-size: 1.2rem                 !important                               ;
	display: flex                   !important                             ;
	justify-content: center                 !important                               ;
	align-items: center                 !important                               ;
}
.container{
	background: white                  !important                              ;
	max-width: 800px                  !important                              ;
	min-height: 500px                  !important                              ;
	display: flex                   !important                             ;
	justify-content:space-between           !important                                     ;
	align-items: flex-start             !important                                   ;
	padding: 0.5rem 1.5rem          !important                                      ;
}
.left{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%                    !important                            ;
}
.right{
	flex-basis: 50%                    !important                            ;
}
form{
	padding: 1rem                   !important                             ;
}

h3{
	margin-top: 1rem                   !important                             ;
	color:#2c3e50                 !important                               ;
	}

.container .left form input[type="text"],.container .right form input[type="text"]{
	width: 100%            !important                                ;
	padding: 0.5rem 0.7rem          !important                                      ;
	margin: 0.5rem 0               !important                                 ;
	outline: none                   !important                             ;
}

#zip{
	display: flex                   !important                             ;
	margin-top: 0.5rem                 !important                               ;
}
#zip select{
	padding: 0.5rem 0.7rem          !important                                      ;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem          !important                                      ;
	margin-left: 5px                    !important                            ;	
}
input[type="submit"]{
	width: 100%                   !important                             ;
	padding: 0.7rem 1.5rem          !important                                      ;
	background: #34495e                !important                                ;
	color: white                  !important                              ;
	border: none                   !important                             ;
	outline: none                   !important                             ;
	margin-top: 1rem                   !important                             ;
	cursor: pointer                !important                                ;
}

input[type="submit"]:hover{
	background: #2cc350                !important                                ;
}

input{
    border: 1px solid darkblue
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column                 !important                               ;
	}
	body{
		overflow-x: hidden                 !important                               ;
	}
}
