.storescard{
    color:white;
    display:flex;
    height: 400px;
    flex-direction: column;
    padding:0.5rem;
    background-color: #f9f9f9;
    border-radius: 0.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    align-items: center;
    transition-duration: 0.5s;
}

.storecard p{
    margin: 0 ;
}

.storescard:hover{
    cursor:pointer;
    background-color: #ececec;
    
}

.md{
    display: block;
}

.sm{
    display: none;
}
.storecard-name{
    font-size: 1.3rem;
}

.img-div{
    width: 100%;
    padding: 0.5rem;
}
.storecard-image{
    width: 100%;
    height: 12rem;
    border-radius: 0.1rem;
}
.stats{
    color: #0195FF;
    width: 100%;
    padding: 0.5rem;
    padding-top: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.stats-title{
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0 0.8rem 0;
}
.storecard-ratings{
    display: flex ;
    align-items: center ;
    color: white;
    background-color: rgb(0, 209, 83);
    padding: 3px 8px;
    border-radius: 12px;
}
.storecard-ratings img{
    padding: 0 ;
    width: 16px ;
    margin-left: 3px ;
}
.storecard-ratings p{
    margin: 0 ;
}

.marker{
    display: flex ;
    height: 100%;
    gap: 2px;
}

.location{
    color: #333;
    padding-bottom: 0.5rem;
}
.location > p{
    width: 80%;
    height: 2rem;
    margin: 0 ;
}

.explore-shop-sm{
    width: 100%;
    padding: 0.7rem;
    border: none;
    margin: 0.2rem 0;
    background-color: #0195FF;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 1rem;
}
.explore-shop-md{
    width: 100%;
    padding: 1rem;
    border: none;
    margin: 0.2rem 0;
    background-color: #0195FF;
    color: white;
    cursor: pointer;
    font-size: large;
}

@media screen and (max-width : 450px){
    .storescard{
        gap : 0.5rem;
        padding: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .explore-shop-sm{
        display : block;
    }
    .explore-shop-md{
        display: none;
    }

    .explore-shop{
        padding: 0.7rem;
    }

    .img-div{
       width: 30%;
       padding: 0;
    }

    .storecard-image{
        height: 6rem;
        width: 6rem;
    }
    .stats{
        border-radius: 0.5rem;
        height: 6rem;
        padding: 0;
        gap: 0.5rem;
    }
    .stats-title{
        padding: 0;
    }
    .stats-title h2{
        padding: 0;
        font-weight: 400    ;
    }
    .storecard-name{
        font-size: large;
    }
    .storecard-ratings img{
        height: 0.8rem;
        width: 0.8rem;
    }
    .storecard-ratings{
        font-size: x-small;
        padding: 0.2rem 0.5rem ;
    }
    .location > p{
        width: 75%;
    }
    .marker{
        width : 30%
    }
}